/* 
1. Home
2. Banner-Main
3. About
4. Banner-Video
5. FAQ
6. Subscribe
7. Testimonials
8. Social
9. Contacts
10. Footer
*/

:root {
  --color-primary: #f6f2f0;
  --color-secondary: #bbcdcb;
}

body {
  font-family: 'Hoefler Text', sans-serif;
  transition-delay: .5s;
  transition: all ease-out .7s;
}

header {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 10px 150px;
}

.company-name {
  font-family: 'Hoefler Text', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 36px;
}

.company-name span {
  display: block;
  font-family: 'Brush Script MT';
  font-size: 24px;
  letter-spacing: 1px;  
  text-transform: none;
  text-align: center;
}

.menu {
  display: flex;
  flex: 1 1;
  justify-content: flex-end;
  align-items: center;
}

header a {
  font-size: 14px;
  text-decoration: none;
  color: #000;
  letter-spacing: 2px;
}

header .phone {
  margin-right: 240px;
}

.bars label {
  cursor: pointer;
  transform: translateY(-15px);
  position: fixed;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
  /* background-color: rgba(255, 255, 255, .8); */
}

.bars span,
.bars span:nth-child(2):before,
.bars span:nth-child(2):after{
  display: block;
  width: 70px;
  height: 1px;
  margin-top: 15px;
  background-color: black;
  opacity: 0.4;
  transition: all ease-out .5s;
}

.bars label > span:nth-child(1),
.bars label > span:nth-child(2),
.bars label > span:nth-child(3) {
  transition-delay: .5s;
}

.bars span:nth-child(2):before,
.bars span:nth-child(2):after {
  content: '';
  opacity: 0;
  background-color: black; 
  transition-delay: .1s;
  position: relative;
  top: -15px;
}

.bars span:nth-child(2):after {
  transform: translateY(-15px);
}

.bars:hover span {
  opacity: 1;
  transition: all ease-out .5s;
}

.bars input {
  visibility: hidden;
}

.bars input:checked + label > span:nth-child(1) {
  transform: translateY(16px);
  opacity: 0;
}

.bars input:checked + label > span:nth-child(3) {
  transform: translateY(-16px);
  opacity: 0;
}

.bars input:checked + label > span:nth-child(2) {
  background-color: white;
  transition-delay: .9s;
}

.bars input:checked + label > span:nth-child(2):before {
  transform: rotate(45deg);
  opacity: 1;
  transition-delay: 1s;
}

.bars input:checked + label > span:nth-child(2):after {
  transform: translateY(-15px) rotate(-45deg);
  opacity: 1;
  transition-delay: 1s;
}

/* MENU */
.nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  transition: all ease-out .7s;
  z-index: 1;
  width: 20vw;
}

.bars input:checked ~ .nav-list {
  transform: translate(0, -30px);
  height: calc(100vh - 80px);
  opacity: 1;
  /* transition-delay: .5s; */
}

.bars input:checked ~ .nav-list:before {
  opacity: 1;
  transition: all ease-out 1s;
  transition-delay: .5s;
}

.nav-list {
  height: calc(100vh - 80px);
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 100px;
  transform: translate(200px, -30px);
  transition: all ease-out .7s;
  background-color: #fff;
  opacity: 0;
  border-left: 10px solid rgba(0,0,0,0.3);
  
}

.nav-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 20px 0;
  opacity: 0.5;
  transition: all ease-out .7s;
  z-index: 2;
}

.nav-item::before {
  content: '';
  height: 30px;
  width: 10px;
  display: block;
  margin: 0 20px 0 0 ;
  background-color: black;
  opacity: 0;
  transition: all ease-out .7s;
  transform: translateX(-10px);
}

.nav-item.active,
.nav-item:hover,
.nav-item:hover::before,
.nav-item.active::before {
  opacity: 1;
  transition: all ease-out .7s;
}



/* HOME */
.home {
  display: flex;
  box-sizing: border-box;
  height: 100vh;
  padding: 100px 0 100px 100px;
}

.home::before {
  content: '';
  width: 60%;
  min-width: 625px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-primary);
  z-index: -1;
}

.home-container {
  margin-right: 20px;
}

.home-container img {
  /* margin: 100px 0 0 150px; */
  width: 350px;
  height: 490px;
}

.home-text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.home-text-container h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  line-height: 65px;
}

.home-text-container div {
  display: flex;
  padding-top: 20px;
}

.ampersand {
  position: absolute;
  left: 150px;
  top: 50px;
  font-size: 110px;
  color: var(--color-secondary);
}

.home-text-container p {
  width: 60%;
  margin: 50px 0;
  font-size: 16px;
}

.btn {
  width: 200px;
  height: 50px;
  padding: 0;
  border: none;
  background-color: var(--color-secondary);
  color: #fff;
  cursor: pointer;
}

/* BANNER-MAIN */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 30px;
  height: 350px;
}

.banner-main::before,
.banner-main::after {
  content: '';
  width: 60%;
  min-height: 30px;
  position: absolute;
  right: 0;
  background-color: var(--color-primary);
}

.banner-main::before {
  transform: translate(0, 10px);
}

.banner-main::after {
  left: 0;
  transform: translate(0, -50px);
}

.title {
  margin: 40px 0;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  z-index: 2;
  text-align: center;
}

.title span {
  display: block;
  margin-top: 10px;
  font-size: 50px;
}

.btn-main {
  width: 150px;
  border-radius: 3px;
}

/* ABOUT */
.about {
  position: relative;
}

.about::before {
  content: '';
  width: 60%;
  height: 400px;
  background-color: var(--color-primary);
  display: block;
  position: absolute;
  top: -40px;
  left: 40%;
  z-index: -1;
}

.about .title {
  margin-bottom: 40px;
  margin-left: 250px;
  text-align: left;
}

.about-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1 1;
}

.description {
  z-index: 2;
  padding-right: 15px;
  flex: 0 1;
}

.description p {
  min-width: 270px;
  font-size: 16px;
}

.list {
  font-size: 18px;
  padding: 0;
  line-height: 40px;
  list-style-type: none;
}

.item::before {
  content: '';
  background-image: url('./img/arrow.png');
  background-size: cover;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
}

.description .btn {
  margin-left: 60px;
}

.about-container img {
  max-width: 50%;
  flex: 1 1;
  margin-right: 20px;
  margin-top: 20px;
}

/* TABS */
.tabs {
  display: flex;
  justify-content: center;
}

.tabs-container {
  width: 900px;
  position: relative;
  margin-top: 80px;
}

.tabs-container::before {
  content: '';
  width: 50%;
  height: 285px;
  background-color: var(--color-primary);
  display: block;
  position: absolute;
  top: 210px;
  left: 13%;
  z-index: -1;
}

.tabs-list {
  display: flex;
}

.tabs-item {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  padding: 20px;
  text-transform: uppercase;
  border-bottom: 2px solid var(--color-secondary);
  cursor: pointer;
  flex: 1 1;
  text-align: center;
}

.swen {
  border: none;
  border-right: 1px solid var(--color-secondary);
  border-left: 1px solid var(--color-secondary);
}

.active-tab {
  background-color: var(--color-primary);
  transition: all ease-out .5s;
}

.tabs-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tabs-content p {
  margin: 0;
  margin-top: 50px;
  width: 70%;
  line-height: 20px;
}

.tabs-img {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
}

.tabs-img img {
  width: 37%;
  margin-top: 55px;
}

.hide-tab {
  display: none;
}


/* BANNER-VIDEO */
.banner-video {
  margin: 0;
  margin-top: 50px;
  position: relative;
}

.banner-video::before {
  content: '';
  width: 50%;
  min-height: 30px;
  background-color: var(--color-primary);
  transform: translate(0, 85px);
}

.btn-video {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #fff;
  z-index: 1;
}

.btn-video:hover {
  box-shadow: 0px 1px 3px 3px rgba(212, 211, 211, 0.6);
}

.btn-video img {
  width: 40px;
  height: 35px;
  margin: 2px 0 0 5px;
}

.banner-video .ripple {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: 189px;
  transform: scale(.3);
  border: 1px solid rgb(156, 152, 152);
  background-color: rgb(189, 183, 183);
  opacity: .9;
  transition: all 1s ease-out;
  z-index: 0;
  animation: ripple 2s linear infinite;
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(1);
  }
}

/* FAQ */
.faq {
  position: relative;
}

.faq::before,
.faq::after {
  content: '';
  width: 30px;
  height: 121%;
  position: absolute;
  right: 25%;
  background-color: var(--color-primary);
  z-index: -1;
  max-height: 1200px;
}

.faq::after {
  height: 103%;
  right: 18%;
  top: 160px;
}

.faq-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
}

.title-faq {
  display: flex;
  justify-content: center;
  margin-left: 35px;
}

.faq-list {
  margin: 30px 10px 0 0 ;
  padding: 0;
  max-width: 400px;
}

.faq-item {
  line-height: 1.5;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
}

.faq-item::before {
  transition: all ease-out .5s;
}

.faq-item__description {
  width: 100%;
  box-sizing: border-box;
  opacity: 0;
  margin: 0;
  padding: 20px;
  line-height: 20px;
  background-color: var(--color-primary);
  transform: translateY(-50px) scaleY(.5);
  transform-origin: 0 0;
  position: absolute;
  z-index: -1;
  transition: all ease-out .3s;
}

.active-faq {
  font-weight: bold;
}

.active-faq > .faq-item__description{
  opacity: 1;
  transition: all ease-out .7s;
  transform: translateY(0) scaleY(1);
  transform-origin: 0 0;
  position: relative;
  font-weight: 400;
}

.active-faq::before {
  transform: rotate(90deg) translateX(2px);
  transition: all ease-out .7s;
}

.question {
  margin-top: 30px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all ease-out .5s;
}

.question h3 {
  font-size: 14px;
  text-transform: capitalize;
  margin: 0;
}

.question h3 span {
  display: block;
  font-size: 20px;
  margin: 10px 0;
  text-transform: uppercase;
}

.row {
  display: flex;
  justify-content: space-between;
  line-height: 100px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.row-item {
  margin-top: 30px;
  width: 40%;
  padding: 15px;
  border: none;
  box-shadow: -1px 2px 5px 1px #aeadab;
  min-width: 150px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border: none;
  box-shadow: -1px 2px 5px 1px #aeadab;
}

.btn-submit {
  margin-top: 30px;
}

/* SUBSCRIBE */
.subscribe {
  margin-top: 50px;
  padding: 5px 0 40px 0;
  box-shadow: 0px 2px 5px 1px #aeadab;
}

.subscribe-container {
  display: flex;
  justify-content: center;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  width: 85%;
}

.subscribe-row {
  width: 50%;
  margin-top: 0;
  height: 50px;
  box-sizing: border-box;
}

.btn-subscribe {
  margin: 0 0 0 20px;
}

/* TESTIMONIALS */
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.testimonials::before,
.testimonials::after {
  content: '';
  width: 50%;
  min-height: 140px;
  position: absolute;
  background-color: var(--color-primary);
  left: 0;
  transform: translate(0, -20px);
  z-index: -1;
}

.testimonials::after {
  width: 70%;
  transform: translate(0, 205px);
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 50px;
  margin-top: 10px;
  width: 30%;
  min-width: 300px;
  height: 130px;
  box-shadow: 0px 2px 5px 1px #aeadab;
  background-color: #fff;
}

.card img {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
}

.card p {
  width: 85%;
  margin: 0;
  margin-left: 20px;
  font-size: 14px;
}

.card .worker-name {
  margin-top: 10px;
  font-size: 16px;
  color: var(--color-secondary);
}

.btn-slider {
  display: flex;
  margin-top: 100px;
}

.btn-slider__item {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 50%;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: all ease-out .5s;
}

.btn-slider__item:hover,
.btn-slider__item.active{
  background-color: #aeadab;
}

.btn-slider__item:focus {
  outline: none !important;
}

/* GALLERY */
.gallery {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  padding-top: 50px;
}

.gallery h2 {
  height: 35px;
  margin: 0;
  transform: rotate(90deg) translate(80px, 100px);
}

.gallery::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: var(--color-primary);
}

.gallery-container {
  padding-top: 50px;
}

.gallery-image img {
  height: 280px;
}

.flipster--carousel .flipster__item--future-1,
.flipster--carousel .flipster__item--future-2  {
 transform: translateX(-50px);
}

.flipster--carousel .flipster__item--past-1,
.flipster--carousel .flipster__item--past-2 {
  transform: translateX(50px);
}

/* flat style */

/* .flipster--carousel .flipster__item--past-1 .flipster__item__content,
.flipster--carousel .flipster__item--future-1 .flipster__item__content
{
  transform: rotateY(0) scale(.8);
}

.flipster--carousel .flipster__item--future-2 .flipster__item__content,
.flipster--carousel .flipster__item--past-2 .flipster__item__content{
  transform: rotateY(0) scale(.6);
} */

/* SOCIAL */
.social {
  margin-top: 60px;
  box-shadow: 0px 2px 5px 1px #aeadab;
  padding: 40px 100px
}

.social .title {
  display: flex;
  justify-content: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  list-style-type: none;
}

.social-item {
  display: inline-block;
  background-image: url('./img/social_sprites.png');
  background-size: cover;
  width: 60px;
  height: 60px;
  opacity: 0.5;
  transition: all ease-out .5s;
}

.social-item:hover {
  transform: scale(1.3);
  opacity: 1;
}

.instagram {
  background-position: 0px 0px;
}

.facebook {
  background-position: 235px 0px;
}

.youtube {
  background-position: 170px 0px;
}

.twitter {
  background-position: 115px 0px;
}

.ph {
  background-position: 50px 0px;
}

/* CONTACTS */
.contacts-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 80px;
}

.contacts-container::before {
  content: '';
  width: 650px;
  min-height: 100px;
  display: block;
  position: absolute;
  background-color: var(--color-primary);
  right: 0;
  top: -25px;
  z-index: -1;
}

.contacts-container .title {
  position: relative;
  margin: 0 0 0 80px;
}

.contacts-container .ampersand {
  font-size: 90px;
  position: absolute;
  top: 20px;
  left: 100px;
}

.contacts-container .title-visit {
  width: 100%;
  margin: 0;
  font-size: 26px;
  position: absolute;
  left: 260px;
  text-transform: uppercase;
}

.number {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
}

.contacts-form {
  text-decoration: none;
  color: #000;
  letter-spacing: 1px;
}

.address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 130px;
}

.address::before {
  content: '';
  width: 60%;
  min-height: 300px;
  display: block;
  position: absolute;
  background-color: var(--color-primary);
  left: 0;
  z-index: -1;
}

.address p, 
.address span {
  display: block;
  margin: 0 0 0 280px;
  letter-spacing: 2px;
}

.address span {
  margin: 10px 0 0 0;
}

iframe {
  width: 40%;
}

/* FOOTER */
.footer-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-bottom: 50px;
}

.footer-container ul {
  list-style-type: none;
  line-height: 25px;
  font-size: 16px;
}

.footer-container li:first-child {
  padding-bottom: 20px;
  text-transform: uppercase;
}

.social-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.social-footer::before {
  content: '';
  width: 100%;
  min-height: 150px;
  position: absolute;
  right: 0;
  background-color: var(--color-primary);
  z-index: -1;
}

.social-footer .social-list {
  margin: 0;
  padding: 20px 0 0;
}

.social-footer .social-item {
  width: 50px;
  height: 50px;
}

.social-footer .instagram {
  background-position: 0px 0px;
}

.social-footer .facebook {
  background-position: 200px 0px;
}

.social-footer .youtube {
  background-position: 150px 0px;
}

.social-footer .twitter {
  background-position: 105px 0px;
}

.social-footer .ph {
  background-position: 50px 0px;
}

@font-face {
  font-family: 'Hoefler Text';
  src: url('./fonts/13577.otf');
}

@font-face {
  font-family: 'Brush Script MT';
  src: url('./fonts/13578.otf');
}
