/* 
1. Home
2. Banner-Main
3. About
4. Banner-Video
5. FAQ
6. Subscribe
7. Testimonials
8. Social
9. Contacts
10. Footer
*/

:root {
  --color-primary: #f6f2f0;
  --color-secondary: #bbcdcb;
}

body {
  font-family: 'Hoefler Text', sans-serif;
}

.wrapper {
  transition: all ease-out .7s;
}

header {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 10px 150px;
}

header svg {
  height: 80px;
}

.menu {
  display: flex;
  flex: 1 1;
  justify-content: flex-end;
  align-items: center;
}

header a {
  font-size: 14px;
  text-decoration: none;
  color: #000;
  letter-spacing: 2px;
}

header .phone {
  margin-right: 240px;
}

.bars label {
  cursor: pointer;
  transform: translateY(-15px);
  position: fixed;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
  /* background-color: rgba(255, 255, 255, .8); */
}

.bars span,
.bars span:nth-child(2):before,
.bars span:nth-child(2):after{
  display: block;
  width: 70px;
  height: 1px;
  margin-top: 15px;
  background-color: black;
  opacity: 0.4;
  transition: all ease-out .5s;
}

.bars label > span:nth-child(1),
.bars label > span:nth-child(2),
.bars label > span:nth-child(3) {
  transition-delay: .5s;
}

.bars span:nth-child(2):before,
.bars span:nth-child(2):after {
  content: '';
  opacity: 0;
  background-color: black; 
  transition-delay: .1s;
  position: relative;
  top: -15px;
}

.bars span:nth-child(2):after {
  transform: translateY(-15px);
}

.bars:hover span {
  opacity: 1;
  transition: all ease-out .5s;
}

.bars input {
  visibility: hidden;
}

.bars input:checked + label > span:nth-child(1) {
  transform: translateY(16px);
  opacity: 0;
}

.bars input:checked + label > span:nth-child(3) {
  transform: translateY(-16px);
  opacity: 0;
}

.bars input:checked + label > span:nth-child(2) {
  background-color: white;
  transition-delay: .9s;
}

.bars input:checked + label > span:nth-child(2):before {
  transform: rotate(45deg);
  opacity: 1;
  transition-delay: 1s;
}

.bars input:checked + label > span:nth-child(2):after {
  transform: translateY(-15px) rotate(-45deg);
  opacity: 1;
  transition-delay: 1s;
}

/* MENU */
.nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  transition: all ease-out .7s;
  z-index: 1;
  width: 20vw;
}

.nav-list {
  height: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 100px;
  transform: translate(300px, -30px);
  transition: all ease-out .7s;
  background-color: #fff;
  opacity: 0;
  border-left: 10px solid rgba(0,0,0,0.3);
}

.bars input:checked ~ .nav-list {
  transform: translate(0, -30px);
  height: calc(100vh - 80px);
  opacity: 1;
  /* transition-delay: .5s; */
}

.nav-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 20px 0;
  opacity: 0.5;
  transition: all ease-out .7s;
  z-index: 2;
}

.nav-item::before {
  content: '';
  height: 30px;
  width: 10px;
  display: block;
  margin: 0 20px 0 0 ;
  background-color: black;
  opacity: 0;
  transition: all ease-out .7s;
  transform: translateX(-10px);
}

.nav-item.active,
.nav-item:hover,
.nav-item:hover::before,
.nav-item.active::before {
  opacity: 1;
  transition: all ease-out .7s;
}

/* HOME */
.home {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  height: 100vh;
  padding: 100px 0 0 0;
}

.home::before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-primary);
  z-index: -1;
}

.home-img-container {
  margin-right: 20px;
  text-align: center;
  width: 40%;
}

.home-img-container img {
  /* margin: 100px 0 0 150px; */
  height: calc(100vh - 100px);
  object-fit: contain;
}

.home-text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  width: 50%;
  min-width: 250px;
}

.home-text-container h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  line-height: 65px;
}

.home-text-container div {
  display: flex;
  padding-top: 20px;
}

.ampersand {
  position: absolute;
  left: 150px;
  top: 50px;
  font-size: 110px;
  color: var(--color-secondary);
}

.home-text-container p {
  width: 60%;
  margin: 50px 0;
  font-size: 16px;
}

.btn-href {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 0;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--color-secondary);
  color: #fff;
  text-decoration: none;
}

/* BANNER-MAIN */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 30px;
  height: 350px;
}

.banner-main::before,
.banner-main::after {
  content: '';
  width: 60%;
  min-height: 30px;
  position: absolute;
  right: 0;
  background-color: var(--color-primary);
}

.banner-main::before {
  transform: translate(0, 10px);
}

.banner-main::after {
  left: 0;
  transform: translate(0, -50px);
}

.title {
  margin: 40px 0;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  z-index: 2;
  text-align: center;
}

.title span {
  display: block;
  margin-top: 10px;
  font-size: 50px;
}

/* ABOUT */
.about {
  position: relative;
}

.about::before {
  content: '';
  width: 60%;
  height: 400px;
  background-color: var(--color-primary);
  display: block;
  position: absolute;
  top: -40px;
  left: 40%;
  z-index: -1;
}

.about .title {
  margin-bottom: 40px;
  margin-left: 250px;
  text-align: left;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1 1;
}

.description {
  z-index: 2;
  margin-left: 100px;
  padding-right: 15px;
}

.description p {
  min-width: 270px;
  font-size: 16px;
}

.list {
  font-size: 18px;
  padding: 0;
  line-height: 40px;
  list-style-type: none;
}

.item::before {
  content: '';
  background-image: url('./img/arrow.png');
  background-size: cover;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
}

.description .btn {
  margin-left: 60px;
}

.about-container img {
  max-width: 50%;
  flex: 1 1;
  margin-right: 20px;
  margin-top: 20px;
}

/* TABS */
.tabs {
  display: flex;
  justify-content: center;
}

.tabs-container {
  width: 900px;
  position: relative;
  margin-top: 80px;
}

.tabs-container::before {
  content: '';
  width: 50%;
  height: 285px;
  background-color: var(--color-primary);
  display: block;
  position: absolute;
  bottom: 0;
  left: 13%;
  z-index: -1;
}

.tabs-list {
  display: flex;
}

.tabs-item {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  padding: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-secondary);
  border-top: 1px solid white;
  cursor: pointer;
  flex: 1 1;
  text-align: center;
  background-color: var(--color-primary);
  transition: all ease-out .5s;
}

.tabs-item:hover {
  background-color: #fff;
}

.tabs-item:nth-child(1) {
  border-right: 1px solid var(--color-secondary);
}

.tabs-item:nth-child(3) {
  border-left: 1px solid var(--color-secondary);
}

.active-tab {
  background-color: #fff;
  transition: all ease-out .5s;
  border: none;
  border-top: 1px solid var(--color-secondary);
  border-bottom: 1px solid #fff;
}

.content-container {
  position: relative;
}

.tabs-content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all ease-out 1s;
  opacity: 1;
}

.tabs-content p {
  margin: 0;
  margin-top: 50px;
  width: 70%;
  line-height: 20px;
}

.tabs-img {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
}

.tabs-img img {
  width: 37%;
  margin-top: 55px;
}

.hide-tab {
position: absolute;
opacity: 0;
}

/* BANNER-VIDEO */
.banner-video {
  margin: 0;
  margin-top: 50px;
  position: relative;
}

.banner-video::before,
.social::before {
  content: '';
  width: 50%;
  min-height: 30px;
  background-color: var(--color-primary);
  transform: translate(0, 85px);
}

.btn {
  width: 200px;
  height: 50px;
  padding: 0;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--color-secondary);
  color: #fff;
  cursor: pointer;
  outline: none;
}

.btn:active {
  box-shadow: none;
}

.btn-video {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #fff;
  z-index: 1;
}

.btn-video:hover {
  box-shadow: 0px 1px 3px 3px rgba(212, 211, 211, 0.6);
}

.btn-video img {
  width: 40px;
  height: 35px;
  margin: 2px 0 0 5px;
}

.banner-video .ripple {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: 189px;
  transform: scale(.3);
  border: 1px solid rgb(156, 152, 152);
  background-color: rgb(189, 183, 183);
  opacity: .9;
  transition: all 1s ease-out;
  z-index: 0;
  animation: ripple 2s linear infinite;
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(1);
  }
}

/* FAQ */
.faq {
  position: relative;
}

.faq::before,
.faq::after {
  content: '';
  width: 30px;
  height: 121%;
  position: absolute;
  right: 25%;
  background-color: var(--color-primary);
  z-index: -1;
  max-height: 1200px;
}

.faq::after {
  height: 103%;
  right: 18%;
  top: 160px;
}

.faq-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
}

.title-faq {
  display: flex;
  justify-content: center;
  margin-left: 35px;
}

.faq-list {
  margin: 30px 10px 0 0 ;
  padding: 0;
  max-width: 400px;
}

.faq-item {
  line-height: 1.5;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
}

.faq-item::before {
  transition: all ease-out .5s;
}

.faq-item__description {
  width: 100%;
  box-sizing: border-box;
  opacity: 0;
  margin: 0;
  padding: 20px;
  line-height: 20px;
  background-color: var(--color-primary);
  transform: translateY(-50px) scaleY(.5);
  transform-origin: 0 0;
  position: absolute;
  z-index: -1;
  transition: all ease-out .3s;
}

.active-faq {
  font-weight: bold;
}

.active-faq > .faq-item__description{
  opacity: 1;
  transition: all ease-out .7s;
  transform: translateY(0) scaleY(1);
  transform-origin: 0 0;
  position: relative;
  font-weight: 400;
}

.active-faq::before {
  transform: rotate(90deg) translateX(2px);
  transition: all ease-out .7s;
}

.question {
  margin-top: 30px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all ease-out .5s;
}

.question h3 {
  font-size: 14px;
  text-transform: capitalize;
  margin: 0;
}

.question h3 span {
  display: block;
  font-size: 20px;
  margin: 10px 0;
  text-transform: uppercase;
}

.row {
  display: flex;
  justify-content: space-between;
  line-height: 100px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.row-item {
  margin-top: 30px;
  width: 40%;
  padding: 15px;
  border: none;
  box-shadow: -1px 2px 5px 1px #aeadab;
  min-width: 150px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border: none;
  box-shadow: -1px 2px 5px 1px #aeadab;
  resize: none;
}

.btn-submit {
  margin-top: 30px;
}

/* SUBSCRIBE */
.subscribe {
  margin-top: 50px;
  padding: 5px 0 40px 0;
  box-shadow: 0px 2px 5px 1px #aeadab;
}

.subscribe-container {
  display: flex;
  justify-content: center;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  width: 85%;
}

.subscribe-row {
  width: 50%;
  margin-top: 0;
  height: 50px;
  box-sizing: border-box;
}

.btn-subscribe {
  margin: 0 0 0 20px;
}

.subscribe output {
width: 100%;
text-align: center;
display: block;
margin-top: 20px;
font-size: 14px;
height: 18px;
}

.subscribe output.error {
  color: rgb(182, 78, 76);
}

.subscribe output.success {
  color:rgb(89, 161, 125);
}

/* TESTIMONIALS */
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.testimonials::before,
.testimonials::after {
  content: '';
  width: 50%;
  min-height: 140px;
  position: absolute;
  background-color: var(--color-primary);
  left: 0;
  transform: translate(0, -20px);
  z-index: -1;
}

.testimonials::after {
  width: 70%;
  transform: translate(0, 205px);
}

.testimonials-carousel-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  width: 70vw;
}

.testimonials-carousel {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  transition: all ease-in .5s;
}

.cards-container {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 5px 20px 5px;
  width: 70vw;
  opacity: 0;
  transition: all ease-out .5s;
}

.testimonials-item.current-slide 
.cards-container {
  opacity: 1;
  transition: all ease-out .5s;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  width: 45%;
  min-width: 330px;
  height: 130px;
  box-shadow: 0px 2px 5px 1px #aeadab;
  background-color: #fff;
}

.card:nth-child(1) {
  margin-right: 5px;
}

.card img {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
}

.card p {
  width: 85%;
  margin: 0;
  margin-left: 20px;
  font-size: 14px;
}

.card .worker-name {
  margin-top: 10px;
  font-size: 16px;
  color: var(--color-secondary);
}

.carousel-controls {
  display: flex;
  margin-top: 100px;
}

.carousel-controls__item {
  width: 10px;
  height: 10px;
  padding: 0;
  margin-left: 10px;
  border: none;
  border-radius: 50%;
  background-color: #ebe8e8;
  cursor: pointer;
  transition: all ease-out .5s;
}

.carousel-controls__item:hover,
.carousel-controls__item.current-slide{
  background-color: #aeadab;
}

.carousel-controls__item:focus {
  outline: none !important;
}

/* GALLERY */
.gallery {
  /* background-color: var(--color-primary); */
  position: relative;
  padding-top: 50px;
}

.gallery h2 {
  height: 35px;
  margin: 0;
  /* transform: rotate(90deg) translate(80px, 100px); */
}

/* 
.gallery::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: var(--color-primary);
  z-index: -1;
} */

.gallery-container {
  margin: 50px auto;
  background-color: var(--color-primary);
  padding: 30px 0;
}

.gallery-image img {
  width: 50vw;
  height: auto;
}

.flipster--carousel .flipster__item--future-1,
.flipster--carousel .flipster__item--future-2  {
 transform: translateX(-50px);
}

.flipster--carousel .flipster__item--past-1,
.flipster--carousel .flipster__item--past-2 {
  transform: translateX(50px);
}

/* flat style */

/* .flipster--carousel .flipster__item--past-1 .flipster__item__content,
.flipster--carousel .flipster__item--future-1 .flipster__item__content
{
  transform: rotateY(0) scale(.8);
}

.flipster--carousel .flipster__item--future-2 .flipster__item__content,
.flipster--carousel .flipster__item--past-2 .flipster__item__content{
  transform: rotateY(0) scale(.6);
} */

.flipster--carousel .flipster__item--past-1 .flipster__item__content {
  transform: rotateY(45deg) scale(.7);
}

.flipster--carousel .flipster__item--future-1 .flipster__item__content {
  transform: rotateY(-45deg) scale(.7);
}

.gallery .btn-href {
  margin: auto;
}

/* SOCIAL */
.social {
  /* box-shadow: 0px 2px 5px 1px #aeadab; */
  padding: 20px 100px;
  margin: 40px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social .title {
  display: flex;
  justify-content: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  width: 80%;
}

.social-item {
  display: inline-block;
  background-image: url('./img/social_sprites.png');
  background-size: cover;
  width: 60px;
  height: 60px;
  opacity: 0.5;
  transition: all ease-out .5s;
}

.social-item:hover {
  transform: scale(1.3);
  opacity: 1;
}

.instagram {
  background-position: 0px 0px;
}

.facebook {
  background-position: 235px 0px;
}

.youtube {
  background-position: 170px 0px;
}

.twitter {
  background-position: 115px 0px;
}

.ph {
  background-position: 50px 0px;
}

/* CONTACTS */
.contacts {
  display: flex;
  flex-wrap: wrap;
}

.contacts > div {
  flex: 1 1;
}

.map {
  min-width: 320px;
}

.contacts-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  min-width: 380px;
}

.contacts-container .title {
  position: relative;
  z-index: 10;
  width: 100%;
  padding-right: 10px;
  box-sizing: border-box;
}

.contacts-container .title::before {
  content: '';
  width: 360px;
  height: 40px;
  display: block;
  position: absolute;
  background-color: var(--color-primary);
  right: 0;
  top: 16px;
  z-index: -1;
}

.contacts-container .ampersand {
  font-size: 90px;
  position: relative;
  left:0;
  top: 0;
  display: inline;
  margin: 0;
  line-height: 0.7;
}

.contacts-container .subtitle {
  width: 100%;
  margin: 0;
  font-size: 36px;
  padding-right: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  text-transform: uppercase;
}

.touch {
  width: 100%;
}

.contact {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
  width: 100%;
  box-sizing: border-box;
}

.contact a {
  text-decoration: none;
  color: #000;
  letter-spacing: 1px;
  position: relative;
  width: 100%;
  display: inline-block;
}

.contact a:last-of-type {
  cursor: default;
}

.contact::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 30px 0 30%;
}

.contact.email::before {
  background-image: url('img/mail.svg');
}

.contact.phone::before {
  background-image: url('img/phone.svg');
}

.contact.address::before {
  background-image: url('img/address.svg');
}

.contact a::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  right: 0;
  bottom: 2px;
  background-color: var(--color-primary);
  z-index: -1;
}

.map iframe {
  width: 100%;
}

/* FOOTER */
.footer-container {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  border-top: 5px solid var(--color-primary);
  padding-top: 50px;
}

.footer-container ul {
  list-style-type: none;
  line-height: 25px;
  font-size: 16px;
}

.footer-container li:first-child {
  padding-bottom: 20px;
  text-transform: uppercase;
}

.footer-container a {
  color: #000;
  opacity: 0.5;
  text-decoration: none;
}

.footer-container a:hover {
  opacity: 1;
}

.social-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.social-footer::before {
  content: '';
  width: 100%;
  min-height: 150px;
  position: absolute;
  right: 0;
  background-color: var(--color-primary);
  z-index: -1;
}

.social-footer .social-list {
  margin: 0;
  padding: 20px 0 0;
}

.social-footer .social-item {
  width: 50px;
  height: 50px;
}

.social-footer .instagram {
  background-position: 0px 0px;
}

.social-footer .facebook {
  background-position: 200px 0px;
}

.social-footer .youtube {
  background-position: 150px 0px;
}

.social-footer .twitter {
  background-position: 105px 0px;
}

.social-footer .ph {
  background-position: 50px 0px;
}

/* RESPONSIVE (800) */
@media (max-width: 800px) {
  .cards-container {
    justify-content: center;
  }
}

/* RESPONSIVE 640 */
@media (max-width: 640px) {
  header {
    padding: 0;
  }

  header svg {
    width: 45%;
    padding: 5px;
  }

  .bars label {
    margin-left: 45px;
  }

  .nav-menu {
    width: 45vw;
  }

  header .phone, 
  .home-text-container p,
  .home-text-container .btn-href {
    display: none;
  }

  .home-img-container {
    width: 100%;
  }

  .home-text-container {
    width: 100%;
    align-items: center;
    position: absolute;
    top: 200px;
  }

  .home-text-container h1 {
    padding: 0;
    font-size: 55px;
  }

  .ampersand {
    left: 225px;
  }

  /* ABOUT */
  .title {
    font-size: 24px;
    z-index: 0;
  }

  .title span {
    font-size: 46px;
  }

  .btn-href {
    font-size: 20px;
  }

  .banner-main::before, 
  .banner-main::after {
    width: 70%;
    min-height: 20px;
    z-index: -1;
  }

  .banner-main::before {
    min-height: 35px;
  }

  /* ABOUT */
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about::before {
    width: 90%;
    height: 155px;
    top: unset;
    left: unset;
    right: 0;
    bottom: 0;
  }

  .about .title {
    font-size: 30px;
    margin-left: 0;
  }

  .about-container {
    flex-direction: column;
    z-index: 0;
  }

  .about-container img {
    max-width: 85%;
    margin: 30px 0 0 0;
    flex: none;
  }

  .about-container {
    margin-left: 20px;
    padding: 0;
  }

  .description {
    margin-left: 20px;
    padding: 0;
  }

  .list .btn-href {
    margin-left: 70px;
  }

  .item::before {
    width: 20px;
    height: 18px;
    margin-right: 25px;
  }

  /* TABS */
  .tabs-container::before {
    width: 93%;
    height: 235px;
    left: unset;
    right: 0;
  }

  .tabs-item {
    font-size: 16px;
  }

  .tabs-img img:nth-child(2) {
    display: none;
  }

  .tabs-img img {
    width: 80%;
  }

  .banner-video, .faq,
  .subscribe, .testimonials,
  .gallery, .social, .contacts,
  footer {
    display: none;
  }
}

/* FONTS */
@font-face {
  font-family: 'Hoefler Text';
  src: url('./fonts/13577.otf');
}

@font-face {
  font-family: 'Brush Script MT';
  src: url('./fonts/13578.otf');
}
